Source: keeper
Section: misc
Priority: optional
Maintainer: Unity API Team <unityapiteam@lists.canonical.com>
Build-Depends: cmake,
               cmake-extras,
               dbus,
               debhelper (>= 9), 
# for building the code:
               libarchive-dev (>= 3.1.2),
               libubuntu-app-launch2-dev (>= 0.9),
               storage-framework-client-dev,
               uuid-dev,
               qt5-default,
               qtbase5-dev,
               qtbase5-dev-tools,
               qtdeclarative5-dev,
               qtdeclarative5-dev-tools,
# for the test harness:
               cppcheck,
               devscripts,
               libgtest-dev,
               google-mock (>= 1.6.0+svn437),
               python3-dbusmock (>= 0.16.3),
               libdbustest1-dev,
               libqtdbusmock1-dev (>= 0.4),
               libqtdbustest1-dev,
# for the dbusmock template:
               python3-gi,
               gir1.2-glib-2.0 (>= 1.32),
               python3-flake8,
Standards-Version: 3.9.5
Homepage: https://launchpad.net/keeper
 If you aren't a member of ~indicator-applet-developers but need to upload
# packaging changes, just go ahead.  ~indicator-applet-developers will notice
# and sync up the code again.
Vcs-Bzr: https://code.launchpad.net/keeper/trunk
Vcs-Browser: https://bazaar.launchpad.net/keeper/trunk/files

Package: keeper
Architecture: any
Depends: ${shlibs:Depends}, 
         ${misc:Depends},
         systemd | systemd-shim,
         tar,
         xz-utils
Description: Backup Tool
 A backup/restore utility for Ubuntu

Package: keeper-cli
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         systemd | systemd-shim,
         tar,
         xz-utils
Description: Backup Tool
 A backup/restore utility for Ubuntu (client application)

Package: libkeeper-client
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends},
Depends: keeper (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Description: Client library for Keeper
 Runtime support for Keeper clients.

Package: qml-keeper
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libkeeper-client (= ${binary:Version}),
Description: QML bindings for Keeper
 This package contains the qtdeclarative bindings for Ubuntu Keeper.

Package: keeper-client-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends},
Depends: libkeeper-client (= ${binary:Version}),
         ${misc:Depends},
Description: Header files for the Keeper client libraries
 Development headers for Keeper clients.

