#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# Get full logs in tests
export G_MESSAGES_DEBUG=all
export CTEST_OUTPUT_ON_FAILURE=1

%:
	dh $@ --parallel --fail-missing

